

<div id="clients">
  <% if @clients.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Ver</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.age %></td>
            <td><%= link_to "Show this client", client %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No hay clientes disponibles.</p>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<%= link_to "New client", new_client_path %>
